.header-bottom-carousel .carousel-wrapper-1 {
	margin: 0 auto;
	position: relative;
	max-width: 60.625em;
}

.header-bottom-carousel .carousel {
	height: 345px;
}

.header-bottom-carousel .carousel-list div {
	width: 100%;
}

.header-bottom-carousel .dotElement{
	display: none;
}

.header-bottom-carousel .arrow-left {
	left: 15px;
}

.header-bottom-carousel .arrow-right {
	right: 15px;
}

.carousel-wrapper-2 .arrow-left {
	background: url(../images/portfolio-arrow-left.png) center center no-repeat;
}

.carousel-wrapper-2 .arrow-right {
	background: url(../images/portfolio-arrow-right.png) center center no-repeat;
}


.main-tweets-carousel .carousel {
	height: 115px;
}

.main-tweets-carousel .dotElement {
	display: none;
}

.carousel-wrapper-3 .arrow-left {
	top: -30px;	
	height: 36px;
	width: 36px;
	background: url(../images/tweet-arrow-left.png) center center no-repeat;
}

.carousel-wrapper-3 .arrow-right {
	top: -30px;
	height: 36px;
	width: 36px;
	background: url(../images/tweet-arrow-right.png) center center no-repeat;
}
