.header-wrapper {
	background: #eb4f4e;
}

.header-top-wrapper {
	background: #f56262;
}

.header-top {
	margin: 0 auto;
	max-width: 60.625em;
}

.logo {
	width: 17.010309278%;
	float: left;
	padding-left: 10px
}

.hamburger-menu img {
	height: 35px;
	width: 35px;
	display: none;
}

.nav-bar {
	width: 79.3333333333%;
	float: right;
	text-align: right;
}


.header-bottom-heading {
	text-align: center;
	padding-bottom: 30px;
}

.container-wrapper {

}

.main-smart-creative-wrapper {
	background: #232324;
}

.main-smart-creative {
	margin: 0 auto;
	max-width: 60.625em;
}

.smart-creative-heading {
	text-align: center;
}

.smart-creative-content {
	float: left;
	width: 33.33333333%;
}
.content-image {
	text-align: center;
}

.content-container {
	text-align: center;
}

.main-talented-expert-wrapper {
	background: #6cc372;
}

.main-talented-expert {
	margin: 0 auto;
	max-width: 60.625em;
}

.talented-expert-heading {
	text-align: center;
}

.col-2-left {
	float: left;
	width: 48.041237113%;
	padding-left: 10px;
}

.col-2-right {
	float: right;
	width: 48.041237113%;
	padding-right: 10px;
}

.talented-expert-left {
	width: 48.497854077%;
	float: left;
}

.talented-expert-right {
	width: 48.497854077%;
	float: right;
}

.main-elegant-genuine-wrapper {
	background: #ececec;
}

.elegant-genuine-heading {
	text-align: center;
	padding-bottom: 36px;
}

.main-elegant-genuine {
	margin: 0 auto;
	max-width: 60.625em;
}

.main-cost-plan-wrapper {
	margin: 0 auto;
	max-width: 60.625em;
	padding-left: 10px;
	padding-right: 10px;
}

.cost-plan-container {
	float: left;
	width: 30.927835052%;
	padding-left: 10px;
	padding-right: 10px;
}

.cost-plan-message {
	text-align: center;
}

.main-tweets-wrapper {
	background: #eb4f4e;
}

.main-tweets {
	margin: 0 auto;
	max-width: 60.625em;
}

.main-tweets-heading {
	text-align: center;
}

.footer-top-wrapper {
	background: #232324;
}

.footer-top {
	margin: 0 auto;
	max-width: 60.625em;
}

.footer-top-left {
	float: left;
	
	font-size: 14px;
}

.footer-top-right {
	
	float: right;
	display: inline;
	text-align: right;
}
.footer-bottom {
	margin: 0 auto;
	max-width: 38.3125em;
	text-align: center;
}
.footer-bottom ul li {
	display: block;
}